<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="lwa4d" >

  <!-- common stuff -->
  <xacro:include filename="$(find schunk_description)/urdf/common.xacro" />
  <xacro:include filename="$(find schunk_description)/urdf/materials.urdf.xacro" />
  <xacro:include filename="$(find schunk_description)/urdf/gazebo.urdf.xacro" />

  <!-- calibration -->
  <xacro:include filename="$(find schunk_lwa4d)/calibration/calibration.urdf.xacro" />

  <!-- schunk lwa4d -->
  <xacro:include filename="$(find schunk_description)/urdf/lwa4d/lwa4d.urdf.xacro" />
  
  <!-- Used for fixing robot to Gazebo 'base_link' -->
  <link name="world"/>

  <!-- arm -->
  <xacro:schunk_lwa4d name="arm" parent="world"            
            arm_1_ref="${arm_1_ref}"
            arm_2_ref="${arm_2_ref}" 
            arm_3_ref="${arm_3_ref}" 
            arm_4_ref="${arm_4_ref}" 
            arm_5_ref="${arm_5_ref}" 
            arm_6_ref="${arm_6_ref}" 
            arm_7_ref="${arm_7_ref}">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:schunk_lwa4d>

</robot>
