<?xml version="1.0"?>
<robot>

	<!-- arm reference positions -->
	<property name="arm_1_ref" value="0" />
	<property name="arm_2_ref" value="0" />
	<property name="arm_3_ref" value="0" />
	<property name="arm_4_ref" value="0" />
	<property name="arm_5_ref" value="0" />
	<property name="arm_6_ref" value="0" />
	<property name="arm_7_ref" value="0" />

</robot>
