<?xml version="1.0"?>
<launch>

	<!-- startup lwa -->
	<node name="arm_controller" pkg="schunk_powercube_chain" type="schunk_powercube_chain" cwd="node" respawn="false" output="screen" >
		<rosparam command="load" file="$(find schunk_hardware_config)/lwa/config/lwa.yaml"/>
	</node>

	<!-- The trajectory controller listens for JointTrajectoryFollowAction and sends velocity commands to the CANopen node -->
	<node ns="arm_controller" name="joint_trajectory_controller" pkg="cob_trajectory_controller" type="cob_trajectory_controller" cwd="node" respawn="false" output="screen" />

	<!-- teleop -->
	<include file="$(find schunk_bringup)/tools/teleop.launch" />

</launch>
