<?xml version="1.0"?>
<launch>

	<!-- upload script server parameters -->
	<rosparam command="load" ns="/script_server/arm" file="$(find schunk_default_config)/config/lwa_joint_configurations.yaml"/>
	<rosparam command="load" ns="/script_server/sdh" file="$(find schunk_default_config)/config/sdh_joint_configurations.yaml"/>

	<!-- startup lwa -->
	<include file="$(find schunk_bringup)/components/lwa.launch"/>

	<!-- startup sdh -->
	<include file="$(find schunk_bringup)/components/sdh.launch"/>

</launch>
