
<launch>

<!--	<node name="arm_controller" pkg="schunk_powerball_chain" type="schunk_powerball_chain" cwd="node" respawn="false" output="screen" > -->
<node name="arm_controller" pkg="ros_canopen" type="ros_canopenmasternode" cwd="node" respawn="false" output="screen" > 
<rosparam command="load" ns="/chaindesc" file="$(find schunk_hardware_config)/powerball/config/powerball.yaml"/>
<rosparam command="load" file="$(find schunk_hardware_config)/powerball/config/powerball_basic.yaml"/>
	</node>


 	<node ns="arm_controller" name="joint_trajectory_controller" pkg="cob_trajectory_controller" type="cob_trajectory_controller" cwd="node" respawn="false" output="screen" />


</launch>
