
<launch>

<node name="arm_controller" pkg="ros_canopen" type="ros_canopenmasternode" cwd="node" respawn="false" output="screen" >

<rosparam command="load" ns="/chaindesc" file="$(find schunk_hardware_config)/prh/config/prh.yaml"/>

<rosparam command="load" file="$(find schunk_hardware_config)/prh/config/prh_basic.yaml"/>
	</node>


 	<node ns="arm_controller" name="joint_trajectory_controller" pkg="cob_trajectory_controller" type="cob_trajectory_controller" cwd="node" respawn="false" output="screen" />


</launch>
