<?xml version="1.0"?>
<launch>

	<!-- upload robot_description -->
	<include file="$(find schunk_hardware_config)/sdh/urdf/upload_sdh.launch"/>

	<!-- start robot_state_publisher -->
	<node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher"/>

	<!-- upload joint configuration -->
	<include file="$(find schunk_default_config)/launch/upload_param_sdh.launch" />

	<!-- start sdh -->
	<include file="$(find schunk_bringup)/components/sdh.launch"/>

</launch>
