<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="lwa4p" >

  <!-- common stuff -->
  <xacro:include filename="$(find schunk_description)/urdf/common.xacro" />
  <xacro:include filename="$(find schunk_description)/urdf/materials.urdf.xacro" />

  <!-- calibration -->
  <xacro:include filename="$(find schunk_lwa4p)/calibration/calibration.urdf.xacro" />

  <!-- schunk lwa4p -->
  <xacro:include filename="$(find schunk_description)/urdf/lwa4p/lwa4p.urdf.xacro" />

  <!-- Used for fixing robot to Gazebo -->
  <link name="world"/>

  <!-- arm -->
  <xacro:schunk_lwa4p name="arm" parent="world">
    <origin xyz="0 0 0.01" rpy="0 0 0" /> <!--slightly above gazebo plane-->
  </xacro:schunk_lwa4p>

  <!-- gazebo_plugin for arm -->
  <gazebo>
    <plugin name="ros_control" filename="libmulti_hw_interface_gazebo_ros_control.so">
      <robotNamespace>arm</robotNamespace>
      <filterJointsParam>joint_names</filterJointsParam>
    </plugin>
  </gazebo>

</robot>
