<?xml version="1.0"?>
<launch>
    <!-- send urdf to param server -->
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find schunk_lwa4d)/urdf/robot_lwa4d.urdf.xacro'" />

    <node ns="lwa4d" name="driver" pkg="ipa_canopen_motor_control" type="ipa_canopen_motor_control_node" output="screen" clear_params="true" launch-prefix="">
       <rosparam command="load" file="$(find schunk_lwa4d)/config/can0.yaml" />
       <rosparam command="load" file="$(find schunk_lwa4d)/config/canopen_lwa4d.yaml" />
       <remap from="joint_states" to="/joint_states"/>
    </node>

    <!-- controllers -->
    <rosparam ns="lwa4d"                 command="load" file="$(find schunk_lwa4d)/config/lwa4d_controller.yaml" />

    <node ns="lwa4d" name="lwa4d_joint_state_controller_spawner" pkg="controller_manager" type="spawner" args="/lwa4d/joint_state_controller" />
    
  
    <node ns="lwa4d" name="lwa4d_controller_spawner" pkg="controller_manager" type="spawner" args="/lwa4d/joint_trajectory_controller" />
    
    
    <!-- robot state publisher -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
        <param name="publish_frequency" type="double" value="50.0" />
        <param name="tf_prefix" type="string" value="" />
    </node>

</launch>
