<?xml version="1.0"?>
<launch>
  <arg name="paused" default="false"/>
  <arg name="gui" default="true"/>

  <!-- start gazebo with empty world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="$(arg paused)" />
    <arg name="gui" value="$(arg gui)" />
  </include>

  <!-- send lwa4d urdf to param server -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find schunk_lwa4d)/urdf/robot_lwa4d.urdf.xacro'" />
  
  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model lwa4d -z 0.01 " respawn="false" output="screen" />

  <!-- robot state publisher -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" type="string" value="" />
  </node>
  
  <!-- fake Calibration and HW-Services -->
  <node pkg="rostopic" type="rostopic" name="fake_joint_calibration" args="pub /calibrated std_msgs/Bool true" />
  <node ns="arm_controller" name="gazebo_services" pkg="cob_controller_configuration_gazebo" type="gazebo_services.py"  cwd="node" respawn="false" output="screen"/>
  
  
  
  <!-- NEW CONTROL -->
  <!-- joint state controller -->
  <rosparam command="load" file="$(find schunk_lwa4d)/config/joint_state_controller.yaml" />
  <node name="joint_state_controller_spawner" pkg="controller_manager" type="spawner" args="joint_state_controller" />

  <!-- controller parameters -->
  <rosparam command="load" file="$(find schunk_lwa4d)/config/arm_controller_sim.yaml"/>
  
  <!-- start_controllers -->
  <!-- the mode_adapter will start the controllers or you can use one of the spawners -->
<!--
  <node name="arm_controller_spawner" pkg="controller_manager" type="spawner" args="arm_follow_joint_trajectory_controller_pos" />
  <node name="arm_controller_spawner" pkg="controller_manager" type="spawner" args="arm_follow_joint_trajectory_controller_vel" />
  <node name="arm_controller_spawner" pkg="controller_manager" type="spawner" args="arm_position_controller" />
  <node name="arm_controller_spawner" pkg="controller_manager" type="spawner" args="arm_velocity_controller" />
-->
  
  <!-- control_mode_adapter -->
  <node ns="arm_controller" name="cob_control_mode_adapter_node" pkg="cob_control_mode_adapter" type="cob_control_mode_adapter_node" cwd="node" respawn="false" output="screen"/>
  
  <!-- Cartesian stuff -->
  <node ns="arm_controller" name="cob_twist_controller_node" pkg="cob_twist_controller" type="cob_twist_controller_node" cwd="node" respawn="false" output="screen"/>
  <node ns="arm_controller" name="frame_tracker" pkg="cob_frame_tracker" type="cob_frame_tracker_node" cwd="node" respawn="false" output="screen"/>
  <node ns="arm_controller" name="interactive_target" pkg="cob_frame_tracker" type="interactive_frame_target.py" cwd="node" respawn="false" output="screen"/>
  
  
  
  <!-- start diagnostics -->
  <node pkg="diagnostic_aggregator" type="aggregator_node" name="diagnostic_aggregator" >
    <rosparam command="load" file="$(find schunk_lwa4d)/config/diagnostics_analyzers.yaml" />
  </node>
  <node pkg="cob_dashboard" type="cob_dashboard_aggregator.py" name="dashboard_aggregator" />

  <!-- upload script server parameters -->
  <rosparam command="load" ns="/script_server/arm" file="$(find schunk_lwa4d)/config/joint_configurations.yaml"/>

</launch>
