<?xml version="1.0"?>
<launch>
    
    <!-- NEW CONTROL -->
        <!-- controller parameters -->
        <rosparam command="load" file="$(find schunk_lwa4d)/config/controller_velocityinterfaces.yaml"/>
        
        <!-- start_controllers -->
        <!--node name="arm_controller_spawner" pkg="controller_manager" type="spawner" args="arm_controller" /-->

        <!-- control_mode_adapter -->
        <node ns="arm_controller" name="cob_control_mode_adapter_node" pkg="cob_control_mode_adapter" type="cob_control_mode_adapter_node" cwd="node" respawn="false" output="screen"/> 

        <!-- hardware_interface -->
        <node ns="arm_controller" name="cob_controller_manager_node" pkg="cob_hardware_interface" type="cob_controller_manager_node" cwd="node" respawn="false" output="screen"/> 

        <!-- Cartesian stuff -->
        <node ns="arm_controller" name="cob_twist_controller_node" pkg="cob_twist_controller" type="cob_twist_controller_node" cwd="node" respawn="false" output="screen"/>
        <node ns="arm_controller" name="frame_tracker" pkg="cob_frame_tracker" type="cob_frame_tracker_node" cwd="node" respawn="false" output="screen"/>
        <node ns="arm_controller" name="interactive_target" pkg="cob_frame_tracker" type="interactive_frame_target.py" cwd="node" respawn="false" output="screen"/>
    
</launch>
