<?xml version="1.0"?>
<launch>
  <arg name="paused" default="false"/>

  <!-- start gazebo with empty world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="$(arg paused)" />
  </include>

  <!-- send lwa4d urdf to param server -->
<!--
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find schunk_lwa4d)/urdf/robot_lwa4d.urdf.xacro'" />
-->
  <param name="robot_description" textfile="$(find schunk_lwa4d)/urdf/robot_lwa4d.urdf" />
  
  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model lwa4d -z 0.01 " respawn="false" output="screen" />

  <!-- robot state publisher -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" type="string" value="" />
  </node>
  

  
  <!-- NEW CONTROL -->
  <!-- joint state controller -->
  <rosparam command="load" file="$(find schunk_lwa4d)/config/joint_state_controller.yaml" />
  <node name="joint_state_controller_spawner" pkg="controller_manager" type="spawner" args="joint_state_controller" />

  <!-- controller parameters -->
  <rosparam command="load" file="$(find schunk_lwa4d)/config/arm_controller_sim.yaml"/>
  
  <!-- start_controllers -->
  <!-- the mode_adapter will start the controllers -->
<!--
  <node name="arm_controller_spawner" pkg="controller_manager" type="spawner" args="arm_controller" />
-->
  <node name="arm_controller_spawner" pkg="controller_manager" type="spawner" args="arm_1_joint_velocity_controller arm_2_joint_velocity_controller arm_3_joint_velocity_controller arm_4_joint_velocity_controller arm_5_joint_velocity_controller arm_6_joint_velocity_controller arm_7_joint_velocity_controller" />

</launch>
