<?xml version="1.0"?>
<launch>

	<!-- run joystick -->
	<node pkg="joy" type="joy_node" name="$(anon joy_node)">
		<rosparam command="load" file="$(find schunk_hardware_config)/common/joy.yaml"/>
	</node>

	<node pkg="cob_teleop" type="cob_teleop" name="$(anon teleop_node)" ns="teleop" output="screen">
		<remap from="/cmd_vel" to="/base_controller/command" />
		<remap from="/cmd_vel_safety" to="/base_controller/command_safe" />
		<rosparam command="load" ns="/robot_config" file="$(find schunk_hardware_config)/common/robot_modules.yaml"/>
		<rosparam command="load" ns="/teleop" file="$(find schunk_hardware_config)/common/teleop.yaml"/>
	</node>

</launch>
