<?xml version="1.0"?>
<launch>

  <!-- start command_gui -->
  <node ns="command_gui" pkg="cob_command_gui" type="knoeppkes.py" name="$(anon command_gui_node)" cwd="node" respawn="false" output="screen" >
    <!-- upload button parameters -->
    <rosparam command="load" ns="control_buttons" file="$(find schunk_pw70)/config/command_gui_buttons.yaml"/>
  </node>

</launch>
