<?xml version="1.0"?>
<launch>

  <!-- start dashboard -->
  <node pkg="cob_dashboard" type="cob_dashboard" name="$(anon dashboard_node)" cwd="node" respawn="false" output="screen" />

  <!-- start command_gui -->
  <node ns="command_gui" pkg="cob_command_gui" type="knoeppkes.py" name="$(anon command_gui_node)" cwd="node" respawn="false" output="screen" >
    <!-- upload button parameters -->
    <rosparam command="load" ns="control_buttons" file="$(find schunk_pg70)/config/command_gui_buttons.yaml"/>
  </node>

  <node pkg="diagnostic_aggregator" type="aggregator_node" name="diagnostic_aggregator" >
    <rosparam command="delete" ns="diagnostic_aggregator"/>
    <rosparam command="load" file="$(find schunk_pg70)/config/diagnostics_analyzers.yaml" />
  </node>

  <node pkg="cob_dashboard" type="cob_dashboard_aggregator.py" name="dashboard_aggregator" />

</launch>
