<?xml version="1.0"?>
<launch>

	<!-- upload script server parameters -->
	<rosparam command="load" ns="/script_server/arm" file="$(find schunk_default_config)/config/lwa_joint_configurations.yaml"/>

	<!-- launch an empty world -->
	<include file="$(find gazebo_worlds)/launch/empty_world.launch" />

	<!-- send lwa urdf to param server -->
	<include file="$(find schunk_hardware_config)/lwa/urdf/upload_lwa.launch" />

	<!-- push robot_description to factory and spawn robot in gazebo -->
	<node name="spawn_gazebo_model" pkg="gazebo" type="spawn_model" args="-urdf -param robot_description -model lwa -z 0.1 " respawn="false" output="screen" />

	<!-- controller manager -->
	<include file="$(find schunk_controller_configuration_gazebo)/ros/launch/controller_manager.launch" />

	<!-- lwa controllers -->
	<include file="$(find schunk_controller_configuration_gazebo)/ros/launch/lwa_controller.launch" />


    <node pkg="joy" type="joy_node" name="joy_node">
		<rosparam command="load" file="$(find schunk_hardware_config)/lwa/config/joy.yaml"/>
		</node>
		
		<node pkg="cob_teleop" type="cob_teleop" name="teleop_node" ns="teleop" output="screen">
		<rosparam command="load" ns="/teleop" file="$(find schunk_hardware_config)/lwa/config/teleop_lwa.yaml"/>
		</node>
		
	<!-- launch rviz -->
	<include file="$(find schunk_bringup_sim)/launch/rviz.launch" />
	
</launch>
