<?xml version="1.0"?>
<launch>

    <!-- upload script server parameters -->
    <rosparam command="load" ns="/script_server/arm" file="$(find schunk_default_config)/config/lwa4d_joint_configurations.yaml"/>

    <!-- launch an empty world -->
    <include file="$(find cob_gazebo_worlds)/launch/empty.launch" />

    <!-- send lwa4d urdf to param server -->
    <include file="$(find schunk_hardware_config)/lwa4d/urdf/upload_lwa4d.launch" />

    <!-- push robot_description to factory and spawn robot in gazebo -->
    <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model lwa4d -z 0.01 " respawn="false" output="screen" />

    <!-- controller manager -->
    <include file="$(find schunk_controller_configuration_gazebo)/ros/launch/controller_manager.launch" />

    <!-- lwa4d controllers -->
    <include file="$(find schunk_controller_configuration_gazebo)/ros/launch/lwa4d_controller.launch" />

</launch>
