<?xml version="1.0"?>
<launch>

    <!-- upload script server parameters -->
    <rosparam command="load" ns="/script_server/arm" file="$(find schunk_default_config)/config/lwa4p_joint_configurations.yaml"/>

    <!-- launch an empty world -->
    <include file="$(find gazebo_worlds)/launch/empty_world.launch" />

    <!-- send lwa4p urdf to param server -->
    <include file="$(find schunk_hardware_config)/lwa4p/urdf/upload_lwa4p.launch" />

    <!-- push robot_description to factory and spawn robot in gazebo -->
    <node name="spawn_gazebo_model" pkg="gazebo" type="spawn_model" args="-urdf -param robot_description -model lwa4p -z 0.01 " respawn="false" output="screen" />

    <!-- controller manager -->
    <include file="$(find schunk_controller_configuration_gazebo)/ros/launch/controller_manager.launch" />

    <!-- lwa4p controllers -->
    <include file="$(find schunk_controller_configuration_gazebo)/ros/launch/lwa4p_controller.launch" />

    <node pkg="cob_teleop" type="cob_teleop" name="teleop_node" ns="teleop" output="screen">
        <rosparam command="load" ns="/teleop" file="$(find schunk_hardware_config)/lwa4p/config/teleop_lwa4p.yaml"/>
    </node>

</launch>
