<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="lwa4p_extended" >

  <!-- common stuff -->
  <xacro:include filename="$(find schunk_description)/urdf/common.xacro" />
  <xacro:include filename="$(find schunk_description)/urdf/materials.urdf.xacro" />
<!--
  <xacro:include filename="$(find schunk_description)/urdf/gazebo.urdf.xacro" />
-->

<!--
  <gazebo>
    <plugin name="ros_control" filename="libgazebo_ros_control.so">
    </plugin>
  </gazebo>
-->
  
  <gazebo>
    <plugin name="ros_control" filename="libmulti_hw_interface_gazebo_ros_control.so">
    </plugin>
  </gazebo>

  <!-- calibration -->
  <xacro:include filename="$(find schunk_lwa4p_extended)/calibration/calibration.urdf.xacro" />

  <!-- schunk lwa4p_extended -->
  <xacro:include filename="$(find schunk_description)/urdf/lwa4p_extended/lwa4p_extended.urdf.xacro" />
  
  <!-- Used for fixing robot to Gazebo 'base_link' -->
  <link name="world"/>

  <!-- arm -->
  <xacro:schunk_lwa4p_extended name="arm" parent="world"            
            arm_1_ref="${arm_1_ref}"
            arm_2_ref="${arm_2_ref}" 
            arm_3_ref="${arm_3_ref}" 
            arm_4_ref="${arm_4_ref}" 
            arm_5_ref="${arm_5_ref}" 
            arm_6_ref="${arm_6_ref}" 
            arm_7_ref="${arm_7_ref}">
    <origin xyz="0 0 0.01" rpy="0 0 0" /> <!--slightly above gazebo plane-->
  </xacro:schunk_lwa4p_extended>

</robot>
