<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="lwa4p_extended" >

  <!-- common stuff -->
  <xacro:include filename="$(find schunk_lwa4p_extended)/urdf/common.xacro" />
  <xacro:include filename="$(find schunk_lwa4p_extended)/urdf/materials.urdf.xacro" />
  <xacro:include filename="$(find schunk_lwa4p_extended)/urdf/gazebo.urdf.xacro" />

  <!-- calibration -->
  <xacro:include filename="$(find schunk_lwa4p_extended)/calibration/calibration.urdf.xacro" />

  <!-- schunk lwa4p_extended -->
  <xacro:include filename="$(find schunk_lwa4p_extended)/urdf/lwa4p_extended.urdf.xacro" />

  <!-- foot for arm -->
  <link name="base_link">
    <inertial>
      <origin xyz="0 0 -10" rpy="0 0 0"/>
      <mass value="1000.0"/>
      <inertia ixx="100.0"  ixy="0"  ixz="0" iyy="100.0" iyz="0" izz="100.0" />
    </inertial>

    <visual>
      <origin xyz="0 0 0.25" rpy="0 0 0" />
      <geometry>
         <cylinder radius="0.1" length="0.5"/>
      </geometry>
      <material name="Schunk/DarkGrey" />
    </visual>

    <collision>
      <origin xyz="0 0 0.25" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.1" length="0.5"/>
      </geometry>
    </collision>
  </link>

  <!-- arm -->
  <xacro:schunk_lwa4p_extended name="arm" parent="base_link"            
            arm_1_ref="${arm_1_ref}"
            arm_2_ref="${arm_2_ref}" 
            arm_3_ref="${arm_3_ref}" 
            arm_4_ref="${arm_4_ref}" 
            arm_5_ref="${arm_5_ref}" 
            arm_6_ref="${arm_6_ref}" 
            arm_7_ref="${arm_7_ref}">
    <origin xyz="0 0 0.5" rpy="0 0 0" />
  </xacro:schunk_lwa4p_extended>

</robot>
