<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="lwa4p_extended" >

  <!-- common stuff -->
  <xacro:include filename="$(find schunk_description)/urdf/common.xacro" />
  <xacro:include filename="$(find schunk_description)/urdf/materials.urdf.xacro" />

  <!-- schunk lwa4p_extended -->
  <xacro:include filename="$(find schunk_description)/urdf/lwa4p_extended/lwa4p_extended.urdf.xacro" />

  <!-- Used for fixing robot to Gazebo -->
  <link name="world"/>

  <!-- arm -->
  <xacro:schunk_lwa4p_extended name="arm" parent="world" has_podest="true">
    <origin xyz="0 0 0.026" rpy="0 0 0" /> <!--slightly above gazebo plane-->
  </xacro:schunk_lwa4p_extended>

</robot>
